.headerTitle {
  margin: 2.5rem 0 0;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  transition: 0.25s;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background-color: #39f;

  &:hover {
    background-color: #38e;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
  }
}
