/*******************************************************************************************
/* Wallet Selector
/*******************************************************************************************/
.walletSelector {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;

  &.mobile {
    cursor: default;
  }
}

.nameContainer {
  margin: auto 0;

  & .icon {
    height: 23px;
    width: 23px;
    vertical-align: middle;
  }

  & .name {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.info {
  text-align: right;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: #124;
  margin-left: auto;

  & .balance:nth-child(2) {
    color: #39f;
  }

  & .address {
    font-size: 10px;
    color: rgba(28, 42, 70, 0.4);
  }
}

@media (max-width: 320px) {
  .nameContainer .name {
    display: none;
  }
}

/*************** MODAL ******************************/

.modal {
  color: #124;
  padding: 20px;
  border-radius: 8px;
}

.walletBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;

  justify-content: space-between;
  cursor: pointer;
  padding: 3px 10px;
  font-size: 0.75rem;
  height: 60px;
  box-sizing: border-box;

  &.disabled {
    cursor: default;
    opacity: 0.6;
  }
}

.walletBoxLeft {
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 1rem;

  & img {
    margin-right: 10px;
    height: 32px;
  }
}

.walletBoxRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  & :nth-child(2) {
    color: #39f;
  }

  & .accountAddress {
    font-size: 10px;
  }
}

ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  & h1 {
    margin: 0;
    font-size: 0.875rem;
    display: inline;
  }

  & p {
    font-size: 0.75rem;
    margin: 0 0 1rem;
  }
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background-color: #39f;
}

/*****************************************************  
* SELECT ACCOUNT SCREEN
******************************************************/
.modalHeader {
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
}
.ledgerAccount {
  cursor: pointer;
  font-size: 0.75rem;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: 0.25s;

  & span {
    font-size: 0.925rem;
  }

  & .token {
    color: #39f;
  }

  &:hover {
    background-color: rgba(17, 34, 68, 0.1);
  }
}
