/*******************************************************************************************
/* Operation Selector
/*******************************************************************************************/

.operationSelector {
  display: flex;
  margin-bottom: 1rem;
}

.operationSelector button {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  transition: 0.25s;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 3px;
  background-color: rgba(17, 34, 68, 0.1);
  cursor: pointer;
  flex: 1;

  &:hover {
    background-color: rgba(17, 34, 68, 0.25);
  }

  &.selected {
    color: #fff;
    background-color: #124;
    cursor: default;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:focus {
    outline: 0;
  }
}
