/*******************************************************************************************
/* Token Selector
/*******************************************************************************************/

.tokenSymbol {
  height: 23px;
  width: 23px;
  vertical-align: middle;
}

.tokenSelector {
  cursor: pointer;

  &.single {
    cursor: default;
  }

  & .name {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;

    & small {
      display: none;
    }
  }

  & .caret {
    margin-left: 10px;
    color: #999;
  }
}

/*******************************************************************************************
/* Token Modal
/*******************************************************************************************/

.modal {
  display: flex;
  flex-direction: column;
}

.headerModal {
  display: flex;
  background-color: #124;
  color: #fff;
  padding: 1rem;
}

.headerTitle {
  font-weight: 700;
}

.closeModal {
  margin-left: auto;
  cursor: pointer;
}

.modalSearchArea {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  display: flex;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.modalTokenList {
  flex: 1;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  border-bottom: 1px solid #eee;
  cursor: default;
  transition: 0.25s;
  box-sizing: border-box;

  &:hover {
    background-color: #f6f6f6;
  }
}

.row .name {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 700;

  & small {
    font-size: 0.75rem;
    color: rgba(17, 34, 68, 0.5);
    font-weight: 400;
  }
}

.tokenSelector {
  border: 1px solid #ccc;
  border-left: transparent;
  padding: 0 10px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

:global :local(.tokenSelector).Select.is-focused:not(.is-open) > .Select-control {
  border-left: none !important;
}

:global :local(.tokenSelector).Select.is-focused.is-open .Select-value {
  display: none;
}
