/*******************************************************************************************
/* Token Selector
/*******************************************************************************************/

.tokenSymbol {
  height: 23px;
  width: 23px;
  vertical-align: middle;
}

.row .name {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 0.9rem;
  font-weight: 700;

  & small {
    font-size: 0.7 rem;
    color: #11224440;
    font-weight: 400;
  }
}

.tokenSelector {
  flex-basis: 66.667%;
  max-width: 66.667%;

  & :global(.Select-control) {
    border-left: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

:global :local(.tokenSelector).Select.is-focused:not(.is-open) > .Select-control {
  border-left: none !important;
}

:global :local(.tokenSelector).Select.is-focused.is-open .Select-value {
  display: none;
}
