/*******************************************************************************************
/* Wallet Selector
/*******************************************************************************************/
.walletSelector {
  display: flex;

  & .walletReason {
    margin-left: auto;
    font-size: 0.75rem;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }
}
.nameContainer {
  margin: auto 0;

  & .icon {
    height: 23px;
    width: 23px;
    vertical-align: middle;
  }

  & .name {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.info {
  text-align: right;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: #124;
  margin-left: auto;

  & .balance:nth-child(2) {
    color: #39f;
  }

  & .address {
    font-size: 10px;
    color: rgba(28, 42, 70, 0.4);
  }
}

@media (max-width: 320px) {
  .nameContainer .name {
    display: none;
  }
}

.singleContainer {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 4px;
}
