/*******************************************************************************************
/* Wallet Selector
/*******************************************************************************************/

.info {
  text-align: right;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #124;
  margin-left: auto;

  & .balance:nth-child(2) {
    color: #39f;
  }

  & .address {
    font-size: 10px;
    color: rgba(28, 42, 70, 0.4);
  }
}

.nameContainer {
  padding: 0 10px;

  & .icon {
    height: 23px;
    width: 23px;
    vertical-align: middle;
  }

  & .name {
    margin-left: 5px;
    vertical-align: middle;
  }
}

@media (max-width: 320px) {
  .nameContainer .name {
    display: none;
  }
}

.singleContainer {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 4px;
}
