/*******************************************************************************************
/* Wallet Selector
/*******************************************************************************************/

.info {
  margin-right: 15px;
  text-align: right;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #124;

  & .balance {
    color: #39f;
  }
}

.nameContainer {
  flex: 1;
  /* margin-top: 2px;  to center text baseline with wallet info. TODO review */

  & .icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }

  & .name {
    margin-left: 10px;
    vertical-align: middle;
  }
}

@media (max-width: 320px) {
  .nameContainer .name {
    display: none;
  }
}

.singleContainer {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
