@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/*******************************************************************************************
/* Reset Styles
/*******************************************************************************************/

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

* {
  outline: 0;
}

/*******************************************************************************************
/* Grid System
/*******************************************************************************************/

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

.col-1 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-2 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

/*******************************************************************************************
/* Misc :S
/*******************************************************************************************/

@media (max-width: 320px) {
  body,
  html {
    font-size: 12px;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 2rem;
}

.label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 8px;
}

/*******************************************************************************************
/* Form Screen
/*******************************************************************************************/

/* widget */
.widget {
  padding: 1rem;
  background-color: #fff;
}

/* Amount Field */
.AmountField {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 54px;
  box-sizing: border-box;
  width: 102%;
  height: 54px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-right: transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Trade Plan Summary */

.summary {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background: rgba(28, 42, 70, 0.05);
  font-size: 14px;
}

.summary .summary-total {
  font-weight: 700;
  margin-top: 16px;
}

.summary .summary-total .summary-total-value {
  text-align: right;
}

.summary-token {
  margin-bottom: 8px;
  color: #124;
}
.summary-token-price {
  color: inherit;
}
.summary-token-price-value {
  text-align: right;
}

/* Submit Button */
.btn-submit {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background-color: #39f;
}

.btn-submit:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
}

/* Footer */
.footer {
  font-size: 10px;
  margin-top: 1rem;
}

.footer .col-1 {
  text-align: left;
}

.footer .col-2 {
  text-align: right;
}

/*******************************************************************************************
/* React Select Overrides
/*******************************************************************************************/

.Select-control {
  height: 54px !important;
}
.Select-control:hover {
  box-shadow: none !important;
}

.Select.token-selector.is-focused:not(.is-open) > .Select-control {
  border-left: none !important;
}

.Select.token-selector.is-focused.is-open .Select-value {
  display: none;
}

.Select-input > input {
  height: 54px !important;
  padding: 0 !important;
  line-height: 54px !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 30px !important;
  padding: 8px 10px !important;
}
.Select.is-focused:not(.is-open) > .Select-control {
  border: 1px solid #ccc !important;
  background: #fff;
  box-shadow: none !important;
}
.Select-menu-outer {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/*******************************************************************************************
/* Token Selector
/*******************************************************************************************/

.token-symbol,
.wallet-symbol {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.select-symbol-name .token-name {
  margin-left: 10px;
  vertical-align: middle;
}

.error-msg {
  color: #ce0b24;
  font-size: 0.75rem;
  flex-basis: 100%;
  text-align: right;
}

.token-selector .Select-control {
  border-left: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*******************************************************************************************
/* Operation Selector
/*******************************************************************************************/

.OperationSelector button {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  transition: 0.25s;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 3px;
  background-color: rgba(17, 34, 68, 0.1);
}

.OperationSelector button.button-selected {
  color: #fff;
  background-color: #124;
}

.OperationSelector button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.OperationSelector button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.OperationSelector button:focus {
  outline: 0;
}

/*******************************************************************************************
/* Gas Price
/*******************************************************************************************/

.gas-info {
  margin-bottom: 20px;
}
.gas-price-value {
  text-align: right;
  font-size: 11px;
}

/*******************************************************************************************
/* Wallet Selector
/*******************************************************************************************/

.wallet-info {
  margin-right: 15px;
  text-align: right;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #124;
}

.wallet-info .wallet-amount-value {
  color: #39f;
}

.wallet-info .wallet-id {
  font-size: 10px;
  color: rgba(28, 42, 70, 0.4);
}

.wallet-symbol {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.wallet-name {
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: 320px) {
  .wallet-name {
    display: none;
  }
}

/*******************************************************************************************
/* Other Screens (Info Screens)
/*******************************************************************************************/

.info-screen {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 25px;
  background-color: #fff;
  height: 100%;
  justify-content: space-between;
}

.error.info-screen {
  text-align: center;
}

.info-screen-title {
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.info-screen-header {
  flex: 0;
}

.info-screen-content {
  margin-top: auto;
}

.error-screen-header {
  color: #d01;
  margin-top: 5rem;
}

.error-screen-header .message {
  margin: 2.5rem 0 0;
}

/*******************************************************************************************
/* FormatTxHash
/*******************************************************************************************/

.txhash-link {
  margin-top: 1rem;
  transition: 0.25s;
  text-decoration: none;
  color: #39f;
}

.txhash-link:hover {
  text-decoration: none;
  color: #159;
}

/*******************************************************************************************
/* FormatAddress
/*******************************************************************************************/

.address-link {
  margin-top: 1rem;
  transition: 0.25s;
  text-decoration: none;
  /* color: #39f; */
}

.address-link:hover {
  text-decoration: none;
  /* color: #159; */
}

/*******************************************************************************************
/* Token Info & Trade Info
/*******************************************************************************************/

.token-info,
.trade-info {
  text-align: center;
}

/* TokenAmount */
.token-amount-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.token-amount-name {
  font-size: 1rem;
  margin-top: 5px;
}

/* TokenImage */
.token-big-icon {
  margin-top: 20px;
  margin-bottom: 10px;
}

.token-big-icon img {
  height: 64px;
}

/* Trade Details */
.trade-details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.trade-details-left,
.trade-details-right {
  flex: 1;
}
.trade-details-left {
  text-align: right;
}
.trade-details-right {
  text-align: left;
}

.trade-details-middle {
  text-align: center;
  margin: 0 15px;
  flex: 0;
}

.trade-details-middle img {
  height: 30px;
}

/*******************************************************************************************
/* Trade Steps
/*******************************************************************************************/

.trade-steps {
  margin-top: auto; /* align to the bottom */
  padding: 0;
  list-style: none;
}

.trade-steps > li {
  position: relative;
  height: 65px;
  font-size: 15px;
  line-height: 1.5;
}

.trade-steps > li > div {
  margin-bottom: 3px;
  margin-left: 40px;
}

.trade-steps > li.trade-steps-pending {
  color: #d8d8d8;
  background-image: url('./icons/pending.svg');
  background-repeat: no-repeat;
}

.trade-steps > li.trade-steps-current {
  color: #124;
  background-image: url('./icons/current.svg');
  background-repeat: no-repeat;
}

.trade-steps > li.trade-steps-completed {
  color: #7d2;
  background-image: url('./icons/completed.svg');
  background-repeat: no-repeat;
}

.trade-steps > li:not(:last-child)::before {
  position: absolute;
  top: 25px;
  left: 11px;
  width: 3px;
  height: 40px;
  content: '';
  background: #ddd;
}

.trade-steps > li.trade-steps-completed:not(:last-child)::before {
  background: #7d2;
}

/*******************************************************************************************
/* Transaction Details
/*******************************************************************************************/

.item-list {
  font-size: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.item-list li:last-child {
  border-bottom: none;
}

.item-list li.item-list-title {
  padding: 5px 0;
  border-bottom: 2px solid #124;
}

.item-list li.item-list-total {
  font-size: 16px;
  font-weight: bold;
}

.item-list-label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: #124;
}

.item-list-value {
  color: #124;
}

/*******************************************************************************************
/* Trade Success Screen
/*******************************************************************************************/

.trade-success-txhash,
.trade-success-address {
  color: #124;
}
