@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/*******************************************************************************************
/* Grid System
/*******************************************************************************************/

:global {
  & .flex-grid {
    display: flex;
  }

  & .col {
    flex: 1;
  }
}

/*******************************************************************************************
/* Misc :S
/*******************************************************************************************/

:global {
  /* TODO replace margin-bottom with mb-2 */
  & .margin-bottom {
    margin-bottom: 20px;
  }

  & .mb-2 {
    margin-bottom: 2rem !important;
  }

  & .label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
}

@media (max-width: 400px) {
  :global .margin-bottom {
    margin-bottom: 10px;
  }
}

/*******************************************************************************************
/* Screens General Layout
/*******************************************************************************************/

/* style for body when inside iframe */
:global .content-root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

:global #dexdex-root {
  position: relative; /* to serve as an anchor for position absolute later */
  font-family: 'Montserrat', sans-serif;
  height: 100%; /* this is to use the total height of the iframe */
  margin: 0;
  padding: 0;

  & * {
    outline: 0;
  }

  /* remove spinners from input type number */
  & input[type='number']::-webkit-inner-spin-button,
  & input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }

  & input[type='number'] {
    -moz-appearance: textfield;
    box-shadow: none; /* remove red outline on firefox */
  }
}

/*******************************************************************************************
/* React Select Overrides
/*******************************************************************************************/

:global .Select-control {
  height: 54px !important;
}
:global .Select-control:hover {
  box-shadow: none !important;
}

:global .Select-input > input {
  height: 54px !important;
  padding: 0 !important;
  line-height: 54px !important;
}

:global .Select-placeholder,
:global .Select--single > .Select-control .Select-value {
  padding: 8px 30px 8px 0 !important;
  text-align: right;
}

:global .Select.is-focused:not(.is-open) > .Select-control {
  border: 1px solid #ccc !important;
  background: #fff;
  box-shadow: none !important;
}
:global .Select-menu-outer {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
