@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/* reset */
body {
  font-family: 'Montserrat', sans-serif;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

* {
  outline: 0;
}
/* grid */
.flex-grid,
.flex-grid-responsive {
  display: flex;
}

.col {
  flex: 1;
}

.col-1 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;

  max-width: 33.333%;
}
.col-2 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;

  max-width: 66.667%;
}

/* general styles */
.margin-bottom {
  margin-bottom: 20px;
}
.Select-control:hover {
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

/* widget */
.widget {
  padding: 1rem;

  outline: 0;
}

/* operation selector */
.OperationSelector button {
  font-size: 1rem;
  font-weight: 700;

  padding: 1rem;

  transition: 0.25s;
  text-transform: uppercase;

  border-color: #eee;
  border-radius: 3px;
  background-color: #fff;
}

.OperationSelector button.button-selected {
  color: #fff;
  border-color: #7d2;
  background-color: #7d2;
}

.OperationSelector button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.OperationSelector button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.OperationSelector button:focus {
  outline: 0;
}

/* gas */
.gas-selector {
  margin-bottom: 8px;
}
.gas-selector-label,
.gas-price-value {
  margin-bottom: 8px;
}
.gas-price-value {
  text-align: right;
}
.gas-price-btn button {
  font-size: 0.75rem;

  padding: 8px;

  color: #124;
  border: 1px solid #9b9b9b;
  background-color: #fff;
}

.gas-price-btn button.selected {
  color: #fff;
  border: 1px solid #124;
  background-color: #124;
}

.gas-price-btn button:first-child {
  border-right: transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.gas-price-btn button:last-child {
  border-left: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wallet-selector-wrapper {
  position: relative;
}

.wallet-info {
  position: absolute;
  top: 0;
  right: 0;

  padding: 8px 30px;

  text-align: right;
  pointer-events: none;
}
.wallet-info .wallet-amount {
  font-weight: 700;

  color: #124;
}
.wallet-info .wallet-amount .wallet-amount-value {
  color: #39f;
}

.wallet-info .wallet-id {
  font-size: 10px;

  color: rgba(28, 42, 70, 0.4);
}

/* summary */
.summary {
  margin-bottom: 1rem;
  padding: 1rem;

  border-radius: 4px;
  background: rgba(28, 42, 70, 0.05);
}

.summary .summary-total {
  font-size: 1.25rem;
  font-weight: 700;
}

.summary .summary-total .summary-total-value {
  text-align: right;
}

.summary-token {
  margin-bottom: 8px;

  color: #124;
}
.summary-token-price {
  color: inherit;
}
.summary-token-price-value {
  text-align: right;
}

/* submit */
.btn-submit {
  font-size: 1rem;
  font-weight: 700;

  padding: 1rem;

  text-transform: uppercase;

  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: #39f;
}

/* footer */
.footer {
  font-size: 10px;

  margin-top: 1rem;
}

.footer .col-1 {
  text-align: left;
}

.footer .col-2 {
  text-align: right;
}

/* token selector */
.Select-control {
  height: 54px !important;
}
.Select-control:hover {
  box-shadow: none !important;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 30px !important;

  padding: 8px 10px !important;
}
.Select.is-focused:not(.is-open) > .Select-control {
  border: 1px solid #ccc !important;
  background: #fff;
  box-shadow: none !important;
}
.Select-menu-outer {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.token-symbol,
.wallet-symbol {
  height: 30px;

  vertical-align: middle;
}
.select-symbol-name .token-name,
.wallet-name {
  line-height: 30px;

  margin-left: 5px;

  vertical-align: middle;
}

/* Amount Field */
.AmountField {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 54px;

  box-sizing: border-box;
  width: 102%;
  height: 54px;
  padding: 0 10px;

  border: 1px solid #ccc;
  border-right: transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.token-selector .Select-control {
  border-left: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* example 3 */
.hide {
  position: absolute;
  left: -999em;
}
.hide3 {
  overflow: hidden;

  transition: all 0.5s cubic-bezier(0.75, 0, 1, 1);
}

input[type='checkbox']:checked + .hide3 {
  /* height: 40px; */
  opacity: 0;
}
input[type='checkbox'] + .hide3 .inner3 {
  transition: 0.5s;
  transform: translateY(0);
}

input[type='checkbox']:checked + .hide3 .inner3 {
  transition: 0.5s;
  transform: translateY(-100%);
}

/* widget status */
.widget-status {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100vh;
  padding: 0 25px;
}
.widget-status h1 {
  font-size: 1rem;
  font-weight: 600;

  padding: 1rem;

  text-align: center;

  border-radius: 4px;
  background: #eee;
}
.widget-status dl {
  overflow: hidden;

  margin: 1rem 0 0;
}
.widget-status dt,
.widget-status dd {
  display: inline-block;

  width: 50%;
}

.widget-status dd {
  text-align: right;
}

.widget-status .label {
  font-weight: 600;

  color: #124;
}

.widget-status .value {
  margin: 0;

  color: rgba(17, 34, 68, 0.5);
}
.widget-status hr {
  height: 1px;
  margin: 1rem 0;
  /* Set the hr color */

  color: rgba(17, 34, 68, 0.1);
  border: none;
  background-color: rgba(17, 34, 68, 0.1);
}
.widget-status .link {
  margin-top: 1rem;

  transition: 0.25s;
  text-decoration: none;

  color: #39f;
}
.widget-status .link:hover {
  text-decoration: none;

  color: #159;
}
.widget-status .waiting {
  color: rgba(50, 160, 255, 1);
  background-color: rgba(50, 160, 255, 0.1);
}

.widget-status .error {
  color: rgba(250, 80, 80, 1);
  background-color: rgba(250, 80, 80, 0.1);
}
.widget-status .success {
  color: rgba(28, 210, 115, 1);
  background-color: rgba(28, 210, 115, 0.1);
}

.token-info {
  margin-bottom: auto;

  text-align: center;
}

.token-info .token-icon {
  height: 64px;
  margin-top: 60px;
}

.token-info .token-amount {
  font-size: 2rem;
  font-weight: bold;

  margin-top: 20px;
}

.token-info .token-name {
  font-size: 1rem;

  margin-top: 15px;
}

.status-steps {
  margin: 0;
  padding: 0;

  list-style: none;
}

.status-steps .step {
  position: relative;

  margin-bottom: 40px;
}

.status-steps .step .sub-step {
  margin-bottom: -25px;
  padding: 0 40px;

  list-style-type: none;
}

.status-steps .step.pending {
  background-image: url('./icons/pending.svg');
  background-repeat: no-repeat;
}

.status-steps .step.current {
  background-image: url('./icons/current.svg');
  background-repeat: no-repeat;
}
.status-steps .step.completed {
  background-image: url('./icons/completed.svg');
  background-repeat: no-repeat;
}
.status-steps .step > p {
  font-size: 15px;
  line-height: 25px;

  margin-left: 40px;
}

.status-steps .step.pending > p {
  color: #d8d8d8;
}

.status-steps .step.current > p {
  color: #124;
}

.status-steps .step.completed > p {
  color: #7d2;
}

.status-steps .step .sub-step .sub-step-message {
  margin-top: 5px;
}

.step:not(:last-child)::before {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 11px;

  width: 3px;
  height: 40px;

  content: '';

  background: #ddd;
}

.step.completed:not(:last-child)::before {
  background: #7d2;
}

.wallet-info-success {
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 32px;
}

.wallet-info-success .wallet-icon {
  margin-right: 10px;
}

.wallet-info-success .wallet-address {
  transition: 0.25s;
  text-decoration: none;

  color: #39f;
}

.wallet-info-success .wallet-address:hover {
  text-decoration: none;

  color: #159;
}

.transacion-details-list {
  font-size: 12px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.transacion-details-list li {
  display: flex;
  justify-content: space-between;

  padding: 10px 0;

  border-bottom: 1px solid #eee;
}

.transacion-details-list .label,
.transacion-details-list .value {
  color: #124;
}

.transacion-details-list li:last-child {
  border-bottom: none;
}

.transacion-details-list li.title {
  padding: 5px 0;

  border-bottom: 2px solid #124;
}

.transacion-details-list li.total {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .wallet-name {
    display: none;
  }
}

@media (max-width: 320px) {
  body,
  html {
    font-size: 12px;
  }
}
